<h1><%= @game.p1_name %> : <%= @game.p2_name %></h1>
<p><%= @game.p1_health %> : <%= @game.p2_health %></p>


<form action="/hit" method="POST">
    <input type="submit" name="P1_Attack" value="Attack">
    <input type="submit" name="P2_Attack" value="Attack">
</form>