<h1><%= @p1.name %> : <%= @p2.name %></h1>
<p><%= @p1.health %> : <%= @p2.health %></p>


<form action="/hit" method="POST">
    <input type="submit" name="P1_Attack" value="Attack">
    <input type="submit" name="P2_Attack" value="Attack">
</form>